@model PayCalc.ClassLibrary.Models.TemporaryEmployee
@{
    ViewData["Title"] = "Update Temporary Employee";
}
<div class="text-center">
    <h1 class="display-4">Update Temporary Employee</h1>

    <form asp-action="UpdateEmployee" method="post" role="form">
        <div class="form-group">
            <label asp-for="FirstName" class="form-label">First Name</label>
            <input asp-for="FirstName" class="form-control" placeholder="First Name">
        </div>
        <div class="form-group">
            <label asp-for="LastName" class="form-label">Last Name</label>
            <input asp-for="LastName" class="form-control" placeholder="Last Name">
        </div>
        <div class="form-group">
            <label asp-for="DayRate" class="form-label">Day Rate</label>
            <input asp-for="DayRate" class="form-control" placeholder="Day Rate">
        </div>
        <div class="form-group">
            <label asp-for="WeeksWorked" class="form-label"> Weeks Worked</label>
            <input asp-for="WeeksWorked" class="form-control" placeholder="Weeks Worked">
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Update Employee" />
        </div>
    </form>
</div>