@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<PayCalc_Project.Models.PermanentEmployee>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @foreach (var employee in Model)
    {
        <div>
            <h2>@employee.FirstName</h2>
            <h2>@employee.LastName</h2>
            <h3>@employee.Salary</h3>
            <h3>@employee.Bonus</h3>
        </div>
    }
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
