@model PayCalc_Project.Models.PermanentEmployeeSalary
@{
    ViewData["Title"] = "Read Employee";
}
<div class="text-center">
    <h1 class="display-4"></h1>

    <form asp-action="ReadEmployee" method="post" role="form">
        <div class="form-group">
            <label asp-for="FirstName" class="form-label">First Name</label>
            <input asp-for="FirstName" class="form-control" placeholder="First Name" readonly>
        </div>
        <div class="form-group">
            <label asp-for="LastName" class="form-label">Last Name</label>
            <input asp-for="LastName" class="form-control" placeholder="Readonly Last Name" readonly>
        </div>
        <div class="form-group">
            <label asp-for="Salary" class="form-label">Salary</label>
            <input asp-for="Salary" class="form-control" placeholder="Salary" readonly>
        </div>
        <div class="form-group">
            <label asp-for="Bonus" class="form-label"> Bonus</label>
            <input asp-for="Bonus" class="form-control" placeholder="Bonus" readonly>
        </div>
        <div class="form-group">
            <label asp-for="SalaryAfterTax" class="form-label"> SalaryAfterTax</label>
            <input asp-for="SalaryAfterTax" class="form-control" placeholder="Salary After Tax" readonly>
        </div>
    </form>
</div>